body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}


.top-con{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}

.middle-con{
   margin: 100px 0;


}
.bottom-con{
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr{
  border: dotted #EAF6F6 6px  ;
  width: 4%;
 border-bottom: none;
 margin: 100px auto;
}


h1{
  font-size: 562.5%;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.bottom-cloud{
  position:absolute;
  left: 300;
  bottom:300;
}

.top-cloud{
  position:absolute;
  right: 300px;
  top: 50px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 0 auto;
}





.myButton {
	box-shadow: 0 0 0 0 #bbdaf7;
	background-color:#11999E;
	border-radius:8px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0 1 0 #528ecc;
}
.myButton:hover {
	background-color:#11cdd4;
}
.myButton:active {
	position:relative;
	top:1px;
}


.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20;
}
